<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<title>New York Times Syndicate</title>
	<meta name="keywords" content="botany, responsive, bootstrap, free template, fluid layout, templatemo, html css" />
	<meta name="description" content="Botany Template is free responsive template with a fluid background image." />
	<link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet" type="text/css">
	<link href="{% static "templatemo_style.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{%static "flexslider.css"%}" type="text/css" media="screen" />

	<!-- Modernizr -->
  	<script src="{% static "slider/modernizr.js" %}"></script>

	<!-- HTML 5 shim for IE backwards compatibility -->
		<!-- [if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
		</script>
		<![endif]-->
</head>
<body class="templatemo_juice_bg">
	<div id="main_container">
		<div class="container" id="home">
			<div class="row col-wrap">			 
				<div id="left_container" class="col col-md-3 col-sm-12">
                	<div class="templatemo_logo">
						<a  href="index"><img src="{%static "images/templatemo_logo.gif"%}" alt="Botany Theme"></a>
					</div>
					<nav id="main_nav">
						<ul class="nav">
							<li><a href="nbhome">百度新闻</a></li>
							<li><a href="nthome">腾讯新闻</a></li>
							<li><a href="nshome">搜狐新闻</a></li>
							<li><a href="nnhome">网易新闻</a></li>
							<li class="active"><a href="nfhome">New York Times</a></li>
						</ul>
					</nav> <!-- nav -->	
					<form  action="#" method="get" class="navbar-form" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search" id="keyword" name="keyword">
						</div>
						<button type="submit" class="btn btn-primary" name="Search">Go</button>
					</form>
					<div>
						<a  href="http://sc.chinaz.com"><img src="{%static "images/facebook.png" %}" alt="Like us on Facebook"></a>
						<a href="#"><img src="{%static "images/twitter.png"%}" alt="Follow us on Twitter"></a>
						<a href="#"><img src="{%static "images/rss.png"%}" alt="RSS feeds"></a>
					</div>
				</div>
				<div id="right_container" class="col col-md-9 col-sm-12">
                
					<div class="row">
                    	<div class="col col-md-12">
                        
                    		<h2> <a href="#" title="Hdstockphoto from cn.hdstockphoto.com" class="right_container_title"  target="_blank"></a> </h2> 
                            
        				</div>
                    </div>
					<div class="copyrights">Collect from <a href="http://sc.chinaz.com/" >Website Template</a></div>
                    <article class="row">
						<div class="col col-md-12">
							<img src="{%static "newyork/images/01.jpg"%}" alt="Templatemo Pic 1" class="img-thumbnail img-responsive img_left">
                            <h3>OBAMA EUROPE 7</h3> 
							<p>President Barack Obama is welcomed by a French honor guard before meeting with French President Francois Hollande for dinner, at Orly Airport in Paris, June 5, 2014. With Obama's urging, the G7 group agreed to suspend Russia this year, which was originally supposed to host this year's summit in Sochi, Russia, but it was clear Thursday that one-on-one meetings between Britain, France and Germany with Russian President Vladimir Putin were scheduled for later on. </p>
							<p><a  href="http://sc.chinaz.com/" class="btn btn-primary" role="button">View More</a></p>
						</div>								            
					</article>
					<article class="row">
						<div class="col col-md-12">
							<img src="{%static "newyork/images/02.jpg"%}" alt="Templatemo Pic 2" class="img-thumbnail img-responsive img_left">
                            <h3>UKRAINE CONFLICT 3</h3>
							<p>Members of a Ukrainian border guard unit look over the road as they leave the region of Luhansk, Ukraine, June 4, 2014. Border guards in the region fled their posts Wednesday for fear of attacks by separatist militias, helping open a strategic corridor for the transport of goods, contraband and war materiel from Russia. (Sergey Ponomarev/The New York Times) </p>
							<p><a  href="http://sc.chinaz.com/" class="btn btn-primary" role="button">View More</a></p>
						</div>							
					</article>	
					<article class="row">
						<div class="col col-md-12">
							<img src="{%static "newyork/images/03.jpg"%}" alt="Templatemo Pic 3" class="img-thumbnail img-responsive img_left">
                            <h3>HEALTH BURWELL SUPPORT 2</h3>
							<p>Sylvia Mathews Burwell's mother, Cleo Mathews, who was the mayor of Hinton from 2001 to 2009, at her home in Hinton, W.Va., May 20, 2014. Newly confirmed as President Barack Obama's secretary of the Department of Health and Human Services, Burwell's well-known association with Hinton explains much about her bipartisan reception in the otherwise polarized Capitol. </p>
							<p><a  href="http://sc.chinaz.com/" class="btn btn-primary" role="button">View More</a></p>
						</div>			            
					</article>
                   <article class="row">
						<div class="col col-md-12">
							<img src="{%static "newyork/images/04.jpg"%}" alt="Templatemo Pic 3" class="img-thumbnail img-responsive img_left">
                            <h3>SUB RETIRE MOBILITY</h3>
							<p>EDS.: RETRANSMISSION TO CORRECT DATE *** Suzi and Edmund Kuehn, who are retired, speak with their neighbor, Bill Dunnuck, left, at the Naples Motorcoach Resort in Naples, Fla., April 13, 2014. Motor coaches are expanding the horizons of how adventurous retirees can travel and live. </p>
							<p><a  href="http://sc.chinaz.com/" class="btn btn-primary" role="button">View More</a></p>
						</div>			            
					</article>   
                    <article class="row">
						<div class="col col-md-12">
							<img src="{%static "newyork/images/05.jpg"%}" alt="Templatemo Pic 3" class="img-thumbnail img-responsive img_left">
                            <h3>MYKONOS HOUSING 13</h3>
							<p>A view of the guest cottage, the 1.3 acre property's oldest structure, from a boardwalk to the main house of this villa, which includes olive trees, flowering plants and vines, on the southeastern coast of Mykonos Island, in Greece, May 13, 2014. Real estate agents say prices have fallen since 2008, but the jet-set appeal of the island has protected values from some of Greece's economic woes and a new wave of buyers from the Middle East has helped compensate for the loss of the Greek market. </p>
							<p><a  href="http://sc.chinaz.com/" class="btn btn-primary" role="button">View More</a></p>
						</div>			            
					</article>  
                    
                    <article class="row">
						<div class="col col-md-12">
							<img src="{%static "newyork/images/06.jpg"%}" alt="Templatemo Pic 3" class="img-thumbnail img-responsive img_left">
                            <h3>CIR STATE COLUMN 1</h3>
							<p>Lyve has created a device, the LyveHome, to arrange and store your photographs without using the cloud. (Stuart Goldenberg/The New York Times) -- NO SALES; FOR EDITORIAL USE ONLY WITH STORY SLUGGED CIR STATE COLUMN BY FARHAD MANJOO. ALL OTHER USE PROHIBITED. </p>
							<p><a  href="http://sc.chinaz.com/" class="btn btn-primary" role="button">View More</a></p>
						</div>			            
					</article> 
                    <article class="row">
						<div class="col col-md-12">
							<img src="{%static "newyork/images/07.jpg"%}" alt="Templatemo Pic 3" class="img-thumbnail img-responsive img_left">
                            <h3>FBN DRAFT 2</h3>
							<p>FILE -- Representatives of NFL and AFL teams keep in touch with their superiors by phone during their joint draft of college players, at the Gotham Hotel in New York, March 15, 1967. By first allowing spectators in 1973 and then televising in 1979 what was once an insiders-only process, longtime commissioner Pete Rozelle is essentially the man who turned the draft into the spectacle it is today. </p>
							<p><a  href="http://sc.chinaz.com/" class="btn btn-primary" role="button">View More</a></p>
						</div>			            
					</article>
                   
				</div>
			</div>
			<footer class="row credit">
				<div class="col col-md-12">
					<div id="templatemo_footer">
						Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a>
					</div>
				</div>
			</footer>
		</div>		
	</div>
    
  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{%static% "js/libs/jquery-1.7.min.js"}">\x3C/script>')</script>

  <!-- FlexSlider -->
  <script defer src="{%static% "slider/jquery.flexslider.js"}"></script> 

  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });



    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
  
</body>
<script type='text/javascript' src='{%static% "js/logging.js"}'></script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</html>


